@page "/mealrecipe"
@using AIChef.Shared
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="container mt-5">
    <h3>Meal Recipe</h3>
</div>






@code {

}
